
.FirstContainer {
    height: 100vh;
    display: block;
    justify-content: center;
    align-items: start;
}

.welcomeImg {
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;
}

.welcomeText {
    font-family: Fantasy;
    background: #333333;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    max-height: 1300px;
    margin-top: 10rem;

}

.welcome-animation {
    position: absolute;
    width: 40%;
    z-index: -1;
    opacity: 0.5;
}
