.img-div {
    position: relative;
    width: 100vw;
    min-height: 95vh;
    overflow: hidden;
}

.login-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 0.8;
    z-index: -10;
}

#login {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem 8rem;
    text-align: center;
    border-radius: 6px;
    background: linear-gradient(#107972, #301247);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

#login h1 {
    letter-spacing: 0.1rem;
    font-size: 1.8rem;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: #c7a0ee;
}

#login label {
    display: block;
    margin-bottom: 0.25rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 700;
    text-align: left;
    color: #9f80bf;
}

#login input {

    display: block;
    min-width: 100%;
    padding: 0.5rem;
    margin-bottom: 2rem;
    border-radius: 4px;
    border: 1px solid #493066;
    background: #493664;
    color: #e5d9f1;
    font-size: 1.3rem;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#login .input-argument-not-valid {
    margin-bottom: 0;
}

.field-not-valid {
    color: #e36c6c;
    font-size: 1rem;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 700;
    text-align: left;
}

@keyframes blink {
    0% {
        color: black;
    }
    50% {
        color: #e36c6c;
    }
    100% {
        color: black;
    }
}

.field-not-valid.blink {
    animation: blink 1s infinite;
}

#actions {

    display: flex;
    margin-top: 1rem;
    gap: 2rem;
}

#actions button {
    padding: 1rem;
    font-size: 1.1rem;

}

.LoginOrRegister {
    padding: 0.5rem 1.5rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid #5812b9;
    background: #5812b9;
    color: #e5d9f1;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
}

@media (max-width: 1000px) {
    #login {
        padding: 0.5rem 6rem;
        min-width: 70%;

    }

    #actions button {
        padding: 0.5rem;
    }

    #login h1 {
        font-size: 1.4rem;
    }

    #login label {
        font-size: 0.8rem;
    }

    #login input {
        padding: 0.2rem;
    }

    #actions button {
        padding: 0.2rem 0.3rem;
        font-size: 1rem;

    }
}

#login button:hover {
    background: #6c1fd6;
}
