.about-container-information2 {
    margin-top: 0;
    box-shadow: 0 2rem 15px rgba(0, 0, 0, 0.2);

}

.about-container-part2 {
    background: #718386;

}

.about-container-information2-img {
    height: 50%;
    left: 0;
    position: absolute;
    top: 100%;

}