
.dash-board {
    min-height: 95vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Dynamic columns */
    grid-template-rows: 51px auto;
    background: linear-gradient(#107972, #aaaaaa);
    color: #666666;
    gap: 1rem;
}

.dash-board-main-title {
    grid-row-start: 2;
    grid-column: 1/2;
    justify-self: center;
    color: black;
    align-self: center;

}

.dash-board-attributes {
    display: flex;

    grid-column: 1/-1;
    grid-row: 3;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.dash-board-table-and-sell {
    display: flex;
    grid-column: 1/-1;
    grid-row: 4;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4rem;
}

.dash-board-stocks-table {
    flex-grow: 2;

    justify-self: center;
    min-width: fit-content;
    margin: 3rem;
}

.dash-board-buy-sell {

    display: flex;
    flex-direction: row;
    align-content: end;
    grid-row: 4;
    justify-content: center;


}

.dash-board-buy-button, .dash-board-sell-button {

    padding: 5rem;
    align-self: center;
    margin-right: 2rem;
    background: #97eb9b;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: black;
    font-size: 1.2rem;
    text-decoration: black;
}

.dash-board-sell-button {
    background: #e78e8e;
}

.dash-board-buy-button:hover {
    background: #b7e3b9;
    transform: scale(1.1);
    transition: transform 0.3s
}

.dash-board-sell-button:hover {
    background: #e6a2a2;
    transform: scale(1.1);
    transition: transform 0.3s;
}


.dash-board-logout-button {
    height: 20%;
    grid-row: 5;
}

@media (max-width: 1400px) {
    /* Reorder the buy/sell buttons to appear before the table */
    .dash-board-buy-sell {
        order: -1; /* Move the buy/sell buttons to appear first */
        width: 100%; /* Take full width */
        margin-bottom: 1rem; /* Adjust bottom margin */
        justify-content: center;
        margin-top: 2rem;
    }


    /* Make the buttons smaller on smaller screens */
    .dash-board-buy-button, .dash-board-sell-button {
        padding: 1rem; /* Reduce padding */
        font-size: 1rem;
        margin-right: 1rem; /* Adjust margin */
        max-width: 40%;
        flex: 1; /* Allow buttons to grow evenly */
    }
}

