#tabStock button{
background: linear-gradient(#107972, #434343);
    border: 1px solid #666666 ;
    border-radius: 5%;
    width: 120px;
    height: 150px;
    font-size: 15px;
    color: white;
    margin: 0px 25px;
    box-shadow: white;

}
#tabStock button:hover{
    background-color: #434343;
    transition: transform 0.3s ease, background 0.3s ease, color 0.3s ease; /* Smooth effect */
    transform: scale(1.2);
}
#tabStock button.active{
      background-color: #107972;
}