#core-stocks{
    padding: 2rem;
    border-radius:6px ;
    background-color: #333333;
    box-shadow:0 2px 8px rgba(0,0,0,0.4);

}
body{
    background-color: #333333;
    color: white;
    font-family: Arial,sans-serif;


}

