/* marketIndexTable.css */

.indexTable {
    text-align: center;
    padding-top: 1rem;
    background: #555252;
}

.indexTable-firstDiv {
    display: flex;
    align-items: center;
    justify-items: center;
    margin: auto;
    flex: 1;
    justify-content: center;
}

.indexTable-firstDiv-animation {
    max-width: 10%;

}

.indexTable-title {
    font-family: Monospace;
    font-size: 3rem;
    margin-bottom: 3rem;

}

.indexTable-table-wrapper {
    overflow-x: auto;
    max-width: 100%;
}

#stockTable {
    border-collapse: collapse;
    width: 100%;
    border-radius: 8px;
    /*overflow: hidden;*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#stockTable th,
#stockTable td {
    padding: 12px 16px;
    border-bottom: 1px solid #ddd;
}

#stockTable th {
    background-color: #ca5050;
    font-weight: bold;
}

#stockTable tbody tr:hover {
    background-color: #ca5050;
}

#stockTable tbody tr:nth-child(even) {
    background-color: #107972;
}

#stockTable tbody tr:last-child {
    border-bottom: none;
}
