.navbar {
    background-color: #555252; /* Background color for the navbar */
    color: #fff; /* Text color for the navbar */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    font-family: Monospace;

}

.nav-links {
    margin-left: 1rem;
    display: flex;
    justify-content: flex-start; /* Keep links aligned to the left */
    flex: 1; /* Allow nav links to take available space on the left */
    max-width: 33%


}

.navbar-mystock-text {
    font-family: Fantasy;
    font-size: 1.2rem;
    flex: 1; /* Allow nav links to take available space on the left */
    text-align: center;
}

.navbar-coin-animation {
    width: 4rem;
    margin: 0;
}


.login {
    display: flex;
    max-width: 33%;
    flex: 1;
    justify-content: flex-end;

}

.nav-links a {
    text-decoration: none;
    color: #fff;
    margin-right: 5rem;
    width: 100%
}

.nav-links a:hover {
    color: #ffcc00;
    transform: scale(1.1);
    transition: transform 0.3s ease, color 0.3s ease;
}

.dropDown, .login-register-button {
    text-decoration: none;
    text-align: center;
    color: #fff;
    /*background-color: #846f99;*/
    background: #747272;
    padding: 0.5rem 3rem;
    top: 100%;
    border-radius: 10px;
    height: fit-content;
    display: flex;
    /*margin-right: 4rem;*/
    cursor: pointer;
    align-self: center;
    width: fit-content;
    position: relative;

}

.dropdown-content {
    z-index: -1;
    animation: wiggle 800ms forwards;
    position: absolute;
    top: 2rem;
    right: 0;
    color: #fff;
    background-color: #747272;
    text-align: center;
    padding: 3rem 0;
    width: 100%;
    border-radius: 10px;

}

.dropDown-button {
    font-size: 1.3rem;
    background: #fff;
    border-radius: 5px;
    margin-top: 1.5rem;
    cursor: pointer;
}

.dropdown-content li:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease
}

.dropdown-content ul {

    list-style: none;
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
}

.dropdown-content li {
    margin-bottom: 1rem;
}

.dropdown-content a {
    text-decoration: none;
    color: #fff;

}

.login-register-button:hover {
    color: #91849f;
    background-color: #fff;
    transform: scale(1.05);
    transition: transform 0.3s ease, color 0.3s ease;
}

.dropDown:hover {
    color: #747272;
    background-color: #fff;
}

.dropDown.active {
    background-color: #747272;
    color: #fff;
    border-bottom: 1px solid black;
}

.responsive_nav {
    flex-direction: column; /* Stack elements vertically */
    text-align: center;
}

.nav-btn {
    padding: 1rem;
    margin: auto;
    background: transparent;
    border: none;
    outline: none;
    opacity: 0;
    visibility: hidden;
    color: #fff;
}


@keyframes wiggle {
    0% {
        opacity: 0;
        padding: 0;
    }

    100% {
        opacity: 1;
        padding: 3rem 0;
    }


}

@media (max-width: 1450px) {
    .nav-btn {
        visibility: visible;
        opacity: 1;
        margin-left: 0rem;

    }


    .login-register-button a {
        width: 100%;
        font-size: 1.3rem;
        text-align: center;
    }

    /*.login {*/
    /*    width: fit-content;*/
    /*}*/
    .navbar {
        transition: left 0.3s ease;
    }

    .navbar-mystock-text {
        margin: auto;
        font-size: 1.1rem;
    }

    .nav-links, .login {
        display: none; /* Hide nav links in mobile view by default */
        flex-direction: column; /* Stack links vertically */
        background-color: #555252; /* Match navbar background */
    }

    .nav-links a {
        padding: 0.5rem;
    }

    .responsive_nav .nav-links, .responsive_nav .login {
        display: flex; /* Show nav links when the navbar is expanded */
        padding: 1rem;
    }

    .login-register-button {

    }
}
