.footer-nav {
    background: linear-gradient(#434343, #107972);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-family: Monospace;
    flex-wrap: wrap;

}

.footer-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;

}

.footer-links a {
    text-decoration: none;
    margin: 0 60px;
    color: #fff;
}

.footer-links a:hover {
    color: #ffcc00;
    transform: scale(1.1);
    transition: transform 0.3s ease, color 0.3s ease;
}

.credit-symbol {
    color: black;
    background: #b9b9b9;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    text-align: center;
    margin: auto;
}