.dash-board-attribute {
    display: flex;;
    padding: 2rem;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: #e9e6e6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #333333;
    min-width: 15rem;


}

.dash-board-attribute-loading {
    min-height: 100%;

    background: #d8d4d4;

    color: transparent;
    animation: blink-div 3s infinite;
}

.dash-board-attribute-contact {
    text-align: center;
    padding: 0 2rem;
}

.dash-board-attribute:hover {
    background: #cbc5c5;
    transition: background-color 0.3s;
}

.dash-board-attribute-title {
    align-self: center;
    font-size: 1.3rem;
    text-decoration: black;
    margin: 0;

}

.dash-board-attribute-value {
    align-self: center;
    margin: 0.6rem;
    font-size: 2rem;
    font-weight: bold;
}

@media (max-width: 900px) {
    .dash-board-attribute-value {
        font-size: 1.6rem; /* Smaller font for smaller screens */
    }

    .dash-board-attribute-title {
        font-size: 1.1rem;
    }
}

