#tabStock h2 {
    margin: 5rem;
    text-align: center;
    font-family: Monospace;
    font-size: 1.8rem;
}

.tab-stocks {
    margin-bottom: 8rem;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

