
#tab-stock-search button{
    background-color: #107972;
    border: 1px solid #666666 ;
    width: 100px;
    height: 37px;
    font-size: 15px;
    padding: 0;

    color: white;
    cursor: pointer;
}#tab-stock-search button:hover{
     background-color: #434343;
     transform: scale(1.1);

 }
#tab-stock-search {
   text-align: center;
    margin: 50px 0;
}
#tab-stock-search input{
    height: 35px;
    width: 170px;
    border: 1px solid #666666 ;
    padding: 0;
}
#tab-stock-search input:focus{
    outline: none;
}


