.tabStocks {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding-bottom: 3rem;
}

.tabStocks-img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: fit-content;
    opacity: 0.8;

}

.tabStock-title {
    margin: 5rem;
    text-align: center;
    font-family: Monospace;
    font-size: 1.8rem;
}

.tab-stocks, .tab-search {
    margin-bottom: 8rem;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

}

.tab-search {
    margin: 0;
}

@media (max-width: 1000px) {
    .tabStocks-img {
        height: 100%;
    }

    /*body {*/
    /*    background: linear-gradient(#107972, #301247);*/
    /*}*/
}
